body{ background:url(./image/pexels-mudassir-ali-2680270.jpg);
    
    position: relative;
  margin: 0ch;
    
  }
  h1{ font-family: 'Courier New', Courier, monospace;
      color: rgb(244, 244, 248);
     font-size: 36px; 
      
  }  
    }
  h2{ font-family: 'Courier New', Courier, monospace;
          color: rgb(244, 244, 248);}
  a{
      text-decoration: none;
      color: rgba(255, 255, 255, 0.87);
      font-size: 22px;
  }
  .box{
      border: 1px solid ;
      width: 90%;
      margin:2.5em;
      margin-top: 1em;
    
      background-color:rgba(107, 107, 209, 0.233) ;
      padding: 1em;
     
     
  }
  .con{font-size: 17px;
      font-style: italic;
      color: rgb(220, 220, 228);
    
      width: 95%;
     
      background-color:rgba(27, 27, 27, 0.452) ;
      padding:0.5em ;
     
   
  }
      
  
  .box2{position: fixed;
     
     background-color: rgba(17, 17, 17, 0.877);
      width:100%;
    
      padding: 0.5em;
  }
  .feedback{
      font-size: 10px;
      color: whitesmoke;
      text-align: center;
      background-color: rgba(17, 17, 17, 0.774);
      
      margin: 0em;
      border: 2.5px solid ;
      
     
  }
  p{
      text-align:left;  
      word-spacing: 1px; 
  }
  .hero{
      width: 200px;;
      height: inherit;
      border: 6px solid black;
      margin-top:129px;
      margin-left: 2.5em;
    
     
  }
  .flex>div{
  
    width: 100px;
  }
  img{
    width:100%;
    height: 100%;
    object-fit: cover;
     border: black solid;
  
  }
  .tile-wrapper{
    
    border: 0.5px rgba(90, 60, 60, 0.918) solid ;
    background-color:rgba(27, 27, 27, 0.452);
    width: 95%;
    padding:0.5em;
   
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
    
  }
  .wrap{
    height: 200px;
   padding: 0.5em;
   margin: 0.5em;
   
    box-shadow: 10px 10px 8px #0a0a0a;
  }
  @media screen and (max-width:768px){
   .wrap{ width: 40%;}
   .feedback { width : 100%;}
  }
  @media screen and (min-width:769px){
   .wrap{ width: 23%;}
   .feedback{ width: 100%;}
}
  
  
  
 
